---
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import directus from "../../lib/directus";
import { readItems } from "@directus/sdk";
import Author from "../../components/Author.astro";
import PostBody from "../../components/PostBody";

export async function getStaticPaths() {
  const posts = await directus.request(readItems("posts"));
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { ...post, tags: post.tags, image: post.image, excerpt: post.excerpt },
  }));
}

const { title, author, content, image, tags } = Astro.props;
---

<BlogPostLayout>
  <div class="container mx-auto px-4 max-w-4xl">
    <article class="format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
      <header class="mb-4 lg:mb-6 not-format">
        <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">{title}</h1>
        <Author author={author} />
      </header>
      
      {image && (
        <figure>
          <img src={`${process.env.DIRECTUS_URL}/assets/${image}?w=1200&auto=format,compression`} alt={title}>
          <figcaption>Image for {title}</figcaption>
        </figure>
      )}
      <PostBody content={content} />
      
    </article>
  </div>
</BlogPostLayout>