---
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import '@styles/custom.css';
import Card from '@components/ContentBoxes/Card.astro';
import Filter from '@components/Filter/Filter.astro';
import TagFilter from '@components/Filter/Tag.astro';
const posts = (await getCollection('blog', ({ data }: { data: { status: string, pubDate: Date } }) => {
  return data.status === 'published';
}))
.sort((a: { data: { pubDate: Date } }, b: { data: { pubDate: Date } }) => 
  new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

const tagsWithData = await Promise.all(posts.map(async (post: CollectionEntry<'blog'>) => ({
  ...post,
  data: {
    ...post.data,
    tags: post.data.tags 
      ? (await getCollection('tags', ({ id }: { id: string }) => post.data.tags?.map((t: { id: string }) => t.id).includes(id)))
        .map((tag: CollectionEntry<'tags'>) => ({
          id: tag.id,
          collection: tag.collection,
          data: { color: tag.data.color || '#000000' }
        }))
      : undefined
  }
})));
---

<PageLayout title="Blog">
  <section class="py-8 px-6 md:px-0">
    <Filter type="tag">
      <TagFilter items={posts} />
    </Filter>
    <div class="w-full min-h-[var(--initial-height)]" id="posts-container">
      <ul class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {tagsWithData.map((post) => (
          <Card 
            title={post.data.title}
            slug={post.data.slug}
            description={post.data.description}
            tags={post.data.tags}
            coverimage={post.data.coverimage}
            pubDate={post.data.pubDate}
            type="blog"
          />
        ))}
      </ul>
    </div>
  </section>
</PageLayout>

<script>
  // Add this script to set the initial height
  window.addEventListener('load', () => {
    const container = document.getElementById('posts-container');
    if (container) {
      const height = container.offsetHeight;
      container.style.setProperty('--initial-height', `${height}px`);
    }
  });
</script>

