---
import TechCube from "@components/ContentBoxes/TechCube.astro";
import type { CollectionEntry } from 'astro:content';

type TechWithStringTags = Omit<CollectionEntry<'tech'>, 'data'> & {
  data: Omit<CollectionEntry<'tech'>['data'], 'tags'> & {
    tags: string[] | undefined
  }
};

interface Props {
  techs: TechWithStringTags[];
  class?: string;
}

const { techs, class: className = "gap-5 md:gap-6 lg:gap-7 xl:gap-8 p-1 p-6 md:p-7 lg:p-8 xl:p-10 grid-cols-6 sm:grid-cols-8 md:grid-cols-3" } = Astro.props;
---

<div class={`w-full grid ${className}`}>
  {techs.map((tech) => (
    <div>
      <TechCube
        title={tech.data.vendor_name || tech.data.title}
        vendoricon={tech.data.vendoricon}
        description={tech.data.description}
        tags={tech.data.tags}
        slug={tech.data.slug}
        vendor_primary_color={tech.data.vendor_primary_color}
        vendor_secondary_color={tech.data.vendor_secondary_color}
        category={tech.data.category}
      />
    </div>
  ))}
</div>