---
import TechLine from "./TechLine.astro";
import { getCollection } from 'astro:content';
const techs = await getCollection('tech');
const { columns } = Astro.props;

---

<section class="py-8">
  <div class="w-full bg-pink-700 rounded-t-lg">
    <h3 class="w-fit text-3xl font-bold relative my-2 px-4 py-3 text-gray-100">Tech Focus</h3>
  </div>

  <ul class={`grid gap-y-4 md:gap-y-5 lg:gap-y-4 ${columns === 1 ? 'grid-cols-1' : 'grid-cols-2 gap-x-3'}`}>
    {
    techs.slice(0, 4).map((tech) => (
<li class="flex flex-col rounded-md bg-white hover:shadow-lg hover:scale-105 shadow-md transition h-24">
  <TechLine title={tech.data.title} excerpt={tech.data.excerpt} slug={tech.data.slug} tags={tech.data.tags} coverimage={tech.data.vendoricon} />
</li>
      ))
    }
  </ul>

<div class="w-full flex justify-end">
  <a href="/tech" class="px-4 py-2 bg-pink-700 text-gray-100 mt-3 rounded-md uppercase flex flex-row items-center hover:scale-110 transition-all duration-100 shadow-md hover:shadow-gray-700/30 shadow-gray-700/30 hover:shadow-md">
    <div class="font-semibold text-xl">More</div>
    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
  </a>
</div>
</section>

