---
import Card from "./Card.astro";
const { posts } = Astro.props;
---
<div class="w-full flex flex-col gap-2">
    <div class="w-full pt-4 flex flex-col">
      
      <div class="w-full bg-purple-700 rounded-t-lg">
      </div>
      <section class="pt-2 pb-6 px-6 md:px-0">
          <ul class="grid gap-4
            grid-cols-1 
            sm:grid-cols-2 sm:gap-6 sm:px-0
            md:gap-4
            lg:grid-cols-3 lg:gap-6
            xl:grid-cols-3 xl:gap-6
            2xl:grid-cols-3 2xl:gap-6
        ">
        {posts.slice(0, 1).map((post) => (
          <Card
            title={post.data.title}
            slug={post.data.slug}
            excerpt={post.data.excerpt}
            tags={post.data.tags}
            coverimage={post.data.coverimage}
            className="block sm:hidden"
          />
        ))}
        {posts.slice(0, 2).map((post) => (
          <Card
            title={post.data.title}
            slug={post.data.slug}
            excerpt={post.data.excerpt}
            tags={post.data.tags}
            coverimage={post.data.coverimage}
            className="hidden sm:block md:hidden"
          />
        ))}
        {posts.slice(0, 2).map((post) => (
          <Card
            title={post.data.title}
            slug={post.data.slug}
            excerpt={post.data.excerpt}
            tags={post.data.tags}
            coverimage={post.data.coverimage}
            className="hidden md:block lg:hidden"
          />
        ))}
        {posts.slice(0, 3).map((post) => (
          <Card
            title={post.data.title}
            slug={post.data.slug}
            excerpt={post.data.excerpt}
            tags={post.data.tags}
            coverimage={post.data.coverimage}
            className="hidden lg:block"
          />
        ))}
      </ul>
      {posts.length > 3 && (
        <div class="w-full flex justify-end">
          <a class="px-4 py-2 bg-purple-600 text-gray-100 mt-3 rounded-md uppercase flex flex-row items-center hover:scale-110 transition-all duration-100 shadow-md hover:shadow-gray-700/30 shadow-gray-700/30 hover:shadow-md">
            <div class="font-semibold text-xl">More</div>
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </a>
        </div>
      )}
      </section>
      <style>

          @media (max-width: 639px) {
            .sm\:hidden { display: block; }
          }
          @media (min-width: 640px) and (max-width: 767px) {
            .sm\:hidden { display: none; }
            .sm\:nth-child\(-n\+2\)\:block { display: block; }
          }
          @media (min-width: 768px) and (max-width: 1023px) {
            .md\:nth-child\(n\+3\)\:hidden { display: none; }
          }
          @media (min-width: 1024px) {
            .lg\:block { display: block; }
          }
        </style>
      </div>