---

---

<section class="flex flex-col py-6">
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 lg:gap-8">{keycards.map((keycard) => (
    <a
      href={keycard.link}
      class={`w-full rounded-md p-4 md:p-6 shadow-md transition duration-100 hover:shadow-lg hover:shadow-black/50 bg-cover bg-center hover:scale-110 ease-in-out ${keycard.style} relative overflow-hidden group`}
      data-style={keycard.style}
    >
      <div class="keycard-bg-image absolute inset-0 transition-transform duration-100 group-hover:scale-110"></div>
      <div class="keycard-gradient absolute inset-0"></div>
      <div class="relative inset-0 z-10">
        <h3
          class="w-fit text-xl md:text-2xl lg:text-3xl font-bold relative">
          <span class="absolute top-0 h3-headline left-0 line-clamp-1">
            {keycard.title}
          </span>
          <span class="relative z-10 h3-shadow line-clamp-1">
            {keycard.title}
          </span>
        </h3>
        <p class="text-white text-base lg:text-lg line-clamp-3">
          {keycard.excerpt}
        </p>
      </div>
    </a>
  ))}
  </div>
</section>