---
import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";
const global = await directus.request(readSingleton('global'));
import { Image } from 'astro:assets';
import bunIcon from '../images/bunicon.svg';
import tailWindIcon from '../images/tailwindicon.svg';
import reactIcon from '../images/reacticon.svg';
import directusIcon from '../images/directusicon.svg';
import astroIcon from '../images/astroicon.svg';
import typescriptIcon from '../images/typescripticon.svg';
---
<section>
<div class="row-span-1 pt-8 pb-4 grid grid-cols-6 gap-4">
    <Image src={astroIcon} alt="Astro" class="w-[100px] h-[100px]" />
    <Image src={bunIcon} alt="Bun" class="w-[120px] h-[100px]" />
    <Image src={tailWindIcon} alt="TailWind" class="w-[120px] h-[100px]" />
    <Image src={reactIcon} alt="React" class="w-[120px] h-[100px]" />
    <Image src={directusIcon} alt="Directus" class="w-[120px] h-[100px]" />
    <Image src={typescriptIcon} alt="TypeScript" class="w-[120px] h-[100px]" />
</div>
</section>