---
import directus from "../lib/directus";
import { readSingleton, readItems } from "@directus/sdk";
import LogoImage from "../images/logo-image.svg";
import LogoText from "../images/logo-text.svg";
import { Image } from "astro:assets";
import BriefcaseIcon from "../images/briefcase-icon.svg";
import NewspaperIcon from "../images/newspaper-icon.svg";
import SpannerScrewdriverIcon from "../images/spannerscrewdriver-icon.svg";
import ChatBubbleIcon from "../images/chatbubble-icon.svg";
function isActive(href: string) {
  return Astro.url.pathname === href || Astro.url.pathname.startsWith(href + '/');
}
---

<nav class="bg-blue-900 max-h-36">
  <div class="flex items-center justify-between 
  w-full
  mx-auto h-36 max-h-36 text-lg font-poppins
  md:h-24 md:max-h-24 md:px-16
  lg:h-28 lg:max-h-28
  2xl:max-w-2xl
  
  ">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse h-full border-none outline-none md:h-24 md:max-h-24 lg:h-28 lg:max-h-28">
        <div class="w-auto h-full flex items-end pt-2">
          <Image src={LogoImage} alt="Astronomical" class="h-auto max-h-full w-auto object-bottom" />
         </div>
    </a>


    <div class="block pr-6 md:hidden">
      <button data-collapse-toggle="navbar-default" type="button" class="flex items-center p-2 w-16 h-16 justify-center text-white rounded-lg md:hidden hover:bg-white md:hover:bg-blue-800 hover:text-blue-800 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="h-full aspect-w-1 aspect-h-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    </div>

    <div class="hidden w-full p-0 m-0 bg-blue-800 z-40 absolute top-36 h-full md:top-0 md:relative md:visible md:block md:w-auto md:h-full" id="navbar-default">
      <ul class="font-medium flex flex-col rtl:space-x-reverse p-0 m-0
      md:flex-row md:space-x-0 md:mt-0 md:border-0 md:bg-blue-900 md:h-full
      ">
        
        <li class="h-42 border-y-4 md:h-24 lg:h-28 md:py-0 md:border-y-0 flex">
          <a href="/projects" class={`
            h-full w-full flex flex-col items-center p-4 m-0 text-gray-200 transition-all duration-100 justify-between relative
            md:p-0 md:h-24 md:py-0 md:m-0 md:px-1 md:border-y-0 md:border-blue-950/75 md:border-x md:hover:bg-blue-900 md:hover:shadow-lg md:hover:drop-shadow-lg md:hover:scale-110 md:hover:border-0
            lg:px-5 lg:h-28
            ${isActive('/projects') ? 'md:border-b-4 md:border-b-red-500' : ''}
          `}>
            <div class="min-w-24 flex flex-col items-center">
              <span class="flex text-2xl md:pt-0 lg:pt-2 font-semibold text-center md:text-base">Projects</span>
              <span class="flex py-1 justify-center"><Image src={BriefcaseIcon} alt="Briefcase Icon" class="w-16 h-16 mb-1 md:w-9 md:h-9 md:my-0  lg:w-10 lg:h-10 brightness-0 invert" /></span>
              <span class="flex text-lg md:text-xs w-full justify-center">Work I've Done</span>
            </div>
          </a>
        </li>

        <li class="h-42 border-y-4 md:h-24 lg:h-28 md:py-0 md:border-y-0 flex">
          <a href="/features" class={`
            h-full w-full flex flex-col items-center p-4 m-0 text-gray-200 transition-all duration-100 justify-between relative
            md:p-0 md:h-24 md:py-0 md:m-0 md:px-1 md:border-r md:border-y-0 md:border-blue-950/75 md:hover:bg-blue-900 md:hover:shadow-lg md:hover:drop-shadow-lg md:hover:scale-110 md:hover:border-0
            lg:px-5 lg:h-28
            ${isActive('/technical-guides') ? 'md:border-b-4 md:border-b-red-500' : ''}
          `}>
            <div class="min-w-24 flex flex-col items-center">
              <span class="flex text-2xl md:pt-0 lg:pt-2 font-semibold text-center md:text-base">Guides</span>
              <span class="flex py-1 justify-center"><Image src={SpannerScrewdriverIcon} alt="Guides" class="w-16 h-16 md:w-8 md:h-8 md:my-0 lg:w-10 lg:h-10 mb-1 brightness-0 invert" /></span>
              <span class="flex text-lg md:text-xs w-full justify-center">Tech How-To's</span>
            </div>
          </a>
        </li>

        <li class="h-42 border-y-4 md:h-24 lg:h-28 md:py-0 md:border-y-0 flex">
          <a href="/blog" class={`
            h-full w-full flex flex-col items-center p-4 m-0 text-gray-200 transition-all duration-100 justify-between relative
            md:p-0 md:h-24 md:py-0 md:m-0 md:px-1 md:border-r md:border-y-0 md:border-blue-950/75 md:hover:bg-blue-900 md:hover:shadow-lg md:hover:drop-shadow-lg md:hover:scale-110 md:hover:border-0
            lg:px-5 lg:h-28
            ${isActive('/blog') ? 'md:border-b-4 md:border-b-red-500' : ''}
          `}>
            <div class="min-w-24 flex flex-col items-center">
              <span class="flex text-2xl pt-0 md:pt-0 lg:pt-2 font-semibold text-center md:text-base">Blog</span>
              <span class="flex py-1 justify-center"><Image src={NewspaperIcon} alt="Blog Icon" class="w-16 h-16 md:w-8 md:h-8 md:my-0 lg:w-10 lg:h-10 mb-1 brightness-0 invert" /></span>
              <span class="flex text-lg md:text-xs w-full justify-center">My Thoughts</span>
            </div></a>
        </li>

        <li class="h-42 border-y-4 md:h-24 lg:h-28 md:p-0 md:border-y-0 flex">
          <a href="/get-in-touch" class={`
            h-full w-full flex flex-col items-center p-4 m-0 text-gray-200 transition-all duration-100 justify-between relative
            md:p-0 md:h-24 md:py-0 md:m-0 md:px-1 md:border-r md:border-y-0 md:border-blue-950/75 md:hover:bg-blue-900 md:hover:shadow-lg md:hover:drop-shadow-lg md:hover:scale-110 md:hover:border-0
            lg:px-5 lg:h-28
            ${isActive('/get-in-touch') ? 'md:border-b-4 md:border-b-red-500' : ''}
          `}>
            <div class="min-w-24 flex flex-col items-center">
              <span class="flex text-2xl pt-0 md:pt-0 lg:pt-2 font-semibold text-center md:text-base">Get In Touch</span>
              <span class="flex py-1 justify-center text-white"><Image src={ChatBubbleIcon} alt="Briefcase Icon" class="w-16 h-16 md:w-8 md:h-8 md:my-0 lg:w-10 lg:h-10 mb-1 brightness-0 invert" /></span>
              <span class="flex text-lg md:text-xs w-full justify-center">Contact Me</span> 
                       </div></a>
        </li>
      </ul>
    </div>
  </div>
</nav>