---
import TechPostLayout from "../../layouts/TechPostLayout.astro";
import { Image } from "astro:assets";
import Prose from "../../components/Prose.astro";
import { getCollection, render } from 'astro:content';
export async function getStaticPaths() {
  const techs = await getCollection('tech');
  return techs.map(tech => ({
    params: { slug: tech.id },
    props: { tech: tech },
  }));
}
const { tech } = Astro.props;
const { Content, headings } = await render(tech);
const allCoverImages = import.meta.glob('../../images/covers/*', { eager: true })
const CoverImageSrc = tech.data.coverimage ? allCoverImages[`../../images/covers/${tech.data.coverimage}`]?.default : null;

---

<TechPostLayout title={tech.data.title} slug={tech.data.slug} toc={headings}>
  {CoverImageSrc && (
    <div class="relative w-full max-h-[70vh] items-center overflow-hidden rounded-b-lg border-white border-4 drop-shadow-lg">
      <Image 
        src={CoverImageSrc} 
        alt={tech.data.title} 
        width={1200} 
        height={600} 
        format="webp"
        class="w-full h-full  p-0 mt-0 rounded-none"
        loading="lazy"
      />
    </div>
  )}

  <Content/>

</TechPostLayout>