---
import { getCollection } from 'astro:content';
import PageLayout from "@layouts/PageLayout.astro";
import '@styles/custom.css';
import ElevatorIcon from "@components/Icons/ElevatorIcon.astro";
import TechCube from "@components/ContentBoxes/TechCube.astro";
const techs = (await getCollection('tech')).filter(({ data }: { data: { created_date: Date } }) => {
  return data.created_date;
}).sort((a: { data: { created_date: Date } }, b: { data: { created_date: Date } }) => new Date(b.data.created_date).getTime() - new Date(a.data.created_date).getTime());
const systems = techs.filter((tech: { data: { category: string } }) => tech.data.category === 'systems');
const development = techs.filter((tech: { data: { category: string } }) => tech.data.category === 'development');
const cloud = techs.filter((tech: { data: { category: string } }) => tech.data.category === 'cloud');
const business = techs.filter((tech: { data: { category: string } }) => tech.data.category === 'business');
const xsSlice = 4;
const smSlice = 3;
const mdSlice = 4;
const lgSlice = 5;
---

<script>
  function getSliceSize() {
    if (window.innerWidth < 640) return 4; // xs
    if (window.innerWidth < 768) return 3; // sm
    if (window.innerWidth < 1024) return 4; // md
    return 5; // lg
  }
</script>

<PageLayout title="Development Stuff">
  
  <section class="py-8 px-6 md:pr-2 pl-0">
    <div class="w-full flex flex-col">
      <a href="/tech" class="text-sm text-blue-500 hover:text-blue-600 mb-4">← Back to Tech</a>
      <h2 class="text-2xl font-bold mb-4">
        Development
      </h2>
      <p class="text-sm mb-4">
        This page aims to highlight the technologies and vendors I've worked with both professionally and personally. My time is split pretty evenly between development and systems admin/integration work.
      </p>
    </div>
    

    <div class="flex flex-col gap-6">
      <div class="w-full flex flex-col">
        <div class="tech-grid grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
          {development.map((tech) => (
            <div class="tech-item">
            <TechCube
              title={tech.data.vendor_name || tech.data.title}
              vendoricon={tech.data.vendoricon}
              excerpt={tech.data.excerpt}
              tags={tech.data.tags}
              slug={tech.data.slug}
              vendor_primary_color={tech.data.vendor_primary_color}
              vendor_secondary_color={tech.data.vendor_secondary_color}
              category={tech.data.category}
            />
            </div>
          ))}
        </div>
      </div>
   </div>
  </section>
</PageLayout>