---
import { getCollection } from 'astro:content';
import PageLayout from "@layouts/PageLayout.astro";
import '@styles/custom.css';
import ElevatorIcon from "@components/Icons/ElevatorIcon.astro";
import TechCube from "@components/ContentBoxes/TechCube.astro";
import type { CollectionEntry } from 'astro:content';

const techs = (await getCollection('tech')).filter((tech: { data: { created_date: Date } }) => tech.data.created_date).sort((a: { data: { created_date: Date } }, b: { data: { created_date: Date } }) => 
  new Date(b.data.created_date).getTime() - new Date(a.data.created_date).getTime()
);
const systems = techs.filter((tech: CollectionEntry<'tech'>) => tech.data.category === 'systems');
const development = techs.filter((tech: CollectionEntry<'tech'>) => tech.data.category === 'development');
const cloud = techs.filter((tech: CollectionEntry<'tech'>) => tech.data.category === 'cloud');
const business = techs.filter((tech: CollectionEntry<'tech'>) => tech.data.category === 'business');
const aiautomation = techs.filter((tech: CollectionEntry<'tech'>) => tech.data.category === 'ai-automation');
const media = techs.filter((tech: CollectionEntry<'tech'>) => tech.data.category === 'media');
const data = techs.filter((tech: CollectionEntry<'tech'>) => tech.data.category === 'data');
---

<PageLayout title="Tech Stuff">
  
  <section class="py-8 px-6 md:pr-2 pl-0">
    <div class="w-full flex flex-col">
      <h2 class="text-2xl font-bold mb-4">
        Tech Stuff
      </h2>
      <p class="text-sm mb-4">
        This page aims to highlight the technologies and vendors I've worked with both professionally and personally. My time is split pretty evenly between development and systems admin/integration work.
      </p>
    </div>
    <div class="w-full border-gray-700 rounded-lg bg-gray-700 text-white p-4 my-8 flex flex-row">
      <div class="w-1/12">
        <ElevatorIcon class="w-20 h-20 mt-2 !fill-white" fill="#ffffff" />
      </div>
      <div class="w-11/12">
        <h2 class="text-xl font-bold mb-4">
        Elevator Pitch
        </h2>
        <p class="text-sm mb-4">
          I'm a full stack developer with a passion for building products that are both functional and beautiful. I'm also a systems administrator with a passion for building infrastructure that is both reliable and scalable.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <div class="w-full flex flex-col">
        <div class="flex justify-between items-center">
          <h2 class="text-xl font-bold mb-2">
            Systems
          </h2>
      </div>
        <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 gap-2">
          {systems.map((tech: CollectionEntry<'tech'>) => (
            <div>
              <TechCube
                title={tech.data.vendor_name || tech.data.title}
                vendoricon={tech.data.vendoricon}
                excerpt={tech.data.excerpt}
                tags={tech.data.tags}
                slug={tech.data.slug}
                vendor_primary_color={tech.data.vendor_primary_color}
                vendor_secondary_color={tech.data.vendor_secondary_color}
                category={tech.data.category}
              />
            </div>
          ))}
        </div>
      </div>
      <div class="w-full flex flex-col">
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold mb-2">Cloud Services</h2>
      </div>
      <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 gap-2">
        {cloud.map((tech: CollectionEntry<'tech'>) => (
        <div>
          <TechCube
            title={tech.data.vendor_name || tech.data.title}
            vendoricon={tech.data.vendoricon}
            excerpt={tech.data.excerpt}
            tags={tech.data.tags}
            slug={tech.data.slug}
            vendor_primary_color={tech.data.vendor_primary_color}
            vendor_secondary_color={tech.data.vendor_secondary_color}
            category={tech.data.category}
          />
        </div>
        ))}
      </div>
    </div>
    <div class="w-full flex flex-col">
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold mb-2">Business Apps</h2>
      </div>
      <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 gap-2">
        {business.map((tech: CollectionEntry<'tech'>) => (
        <div>
          <TechCube
            title={tech.data.vendor_name || tech.data.title}
            vendoricon={tech.data.vendoricon}
            excerpt={tech.data.excerpt}
            tags={tech.data.tags}
            slug={tech.data.slug}
            vendor_primary_color={tech.data.vendor_primary_color}
            vendor_secondary_color={tech.data.vendor_secondary_color}
            category={tech.data.category}
          />
        </div>
        ))}
      </div>
    </div>
    <div class="w-full flex flex-col">
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold mb-2">Development</h2>
      </div>
      <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 gap-2">
        {development.map((tech: CollectionEntry<'tech'>) => (
        <div>
          <TechCube
            title={tech.data.vendor_name || tech.data.title}
            vendoricon={tech.data.vendoricon}
            excerpt={tech.data.excerpt}
            tags={tech.data.tags}
            slug={tech.data.slug}
            vendor_primary_color={tech.data.vendor_primary_color}
            vendor_secondary_color={tech.data.vendor_secondary_color}
            category={tech.data.category}
            />
          </div>
          ))}
        </div>  
      </div>
      <div class="w-full flex flex-col">
        <div class="flex justify-between items-center">
          <h2 class="text-xl font-bold mb-2">AI & Automation</h2>
        </div>
        <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 gap-2">
          {aiautomation.map((tech: CollectionEntry<'tech'>) => (
          <div>
            <TechCube
              title={tech.data.vendor_name || tech.data.title}
              vendoricon={tech.data.vendoricon}
              excerpt={tech.data.excerpt}
              tags={tech.data.tags}
              slug={tech.data.slug}
              vendor_primary_color={tech.data.vendor_primary_color}
              vendor_secondary_color={tech.data.vendor_secondary_color}
              category={tech.data.category}
              />
            </div>
            ))}
          </div>  
        </div>
        <div class="w-full flex flex-col">
          <div class="flex justify-between items-center">
            <h2 class="text-xl font-bold mb-2">Data</h2>
          </div>
          <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 gap-2">
          {data.map((tech: CollectionEntry<'tech'>) => (
          <div>
            <TechCube
              title={tech.data.vendor_name || tech.data.title}
              vendoricon={tech.data.vendoricon}
              excerpt={tech.data.excerpt}
              tags={tech.data.tags}
              slug={tech.data.slug}
              vendor_primary_color={tech.data.vendor_primary_color}
              vendor_secondary_color={tech.data.vendor_secondary_color}
              category={tech.data.category}
              />
            </div>
            ))}
        </div>  
      </div>
      <div class="w-full flex flex-col">
        <div class="flex justify-between items-center">
          <h2 class="text-xl font-bold mb-2">Media & Broadcasting</h2>
        </div>
        <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 gap-2">
        {media.map((tech: CollectionEntry<'tech'>) => (
        <div>
          <TechCube
            title={tech.data.vendor_name || tech.data.title}
            vendoricon={tech.data.vendoricon}
            excerpt={tech.data.excerpt}
            tags={tech.data.tags}
            slug={tech.data.slug}
            vendor_primary_color={tech.data.vendor_primary_color}
            vendor_secondary_color={tech.data.vendor_secondary_color}
            category={tech.data.category}
            />
          </div>
          ))}
        </div>  
      </div>
    </div>
  </section>
</PageLayout>