---
import { getCollection } from 'astro:content';
import { ChevronRight } from "lucide-react";
import PageLayout from "@layouts/PageLayout.astro";
import '@styles/custom.css';
import TechCube from "@components/ContentBoxes/TechCube.astro";
import type { CollectionEntry } from 'astro:content';
import { Button } from '@components/ui/button';
import { Badge } from '@components/ui/badge';
import { Dialog } from '@components/ui/dialog';
type TechWithStringTags = Omit<CollectionEntry<'tech'>, 'data'> & {
  data: Omit<CollectionEntry<'tech'>['data'], 'tags'> & {
    tags: string[] | undefined
  }
};

const techs = (await getCollection('tech'))
  .filter((tech: { data: { pubDate: Date } }) => tech.data.pubDate)
  .map((tech: CollectionEntry<'tech'>) => ({
    ...tech,
    data: {
      ...tech.data,
      tags: tech.data.tags?.map((tag: { id: string }) => tag.id)
    }
  })) as TechWithStringTags[];

const systems = techs.filter((tech: TechWithStringTags) => tech.data.category === 'systems');
const development = techs.filter((tech: TechWithStringTags) => tech.data.category === 'development');
const cloud = techs.filter((tech: TechWithStringTags) => tech.data.category === 'cloud');
const business = techs.filter((tech: TechWithStringTags) => tech.data.category === 'business');
const aiautomation = techs.filter((tech: TechWithStringTags) => tech.data.category === 'ai-automation');
const media = techs.filter((tech: TechWithStringTags) => tech.data.category === 'media');
const data = techs.filter((tech: TechWithStringTags) => tech.data.category === 'data');
---

<PageLayout title="Tech Stuff">
  
  <section class="py-2 px-6 md:pr-0 pl-0 md:mb-6">
    <div class="grid grid-cols-10 md:gap-5">
      <div class="col-span-3 border-[#dcdde0] dark:bg-background dark:border-neutral-800 dark:text-gray-200 rounded-lg bg-white text-gray-800 border my-3 flex flex-col items-center">
        <div class="w-full border-b border-[#dcdde0] dark:border-neutral-800 px-8 py-2 ">
          <h2 class="text-xl font-bold mb-0 dark:text-themepurple">
            Professional Profile
          </h2>
        </div>
        <div class="w-full p-8">
          <p class="text-sm mb-4">
            A systems engineer and software developer with a background in business management and growth.
          </p>
          <span class="text-sm font-bold mb-2 text-gray-900 dark:text-themepurple">Location:</span>
          <p class="text-sm mb-4">
            Cambridge, UK
          </p>
          <div class="w-full mb-2">
          <span class="text-sm font-bold mb-2 text-gray-900 dark:text-themepurple">Key Skills:</span>
          <p class="text-xs">
            <Badge variant="secondary">Automation</Badge>
            <Badge variant="secondary">Web Development</Badge>
            <Badge variant="secondary">Linux</Badge>
            <Badge variant="secondary">APIs</Badge>
            <Badge variant="secondary">Databases</Badge>
            <Badge variant="secondary">Server Management</Badge>
            <Badge variant="secondary">Networking</Badge>
            <Badge variant="secondary">Vector Art</Badge>
            <Badge variant="secondary">Broadcast Media</Badge>
            <Badge variant="secondary">Network Storage</Badge>
            <Badge variant="secondary">VoIP</Badge>
            <Badge variant="secondary">Virtualisation</Badge>
            <Badge variant="secondary">Containerisation</Badge>
            <Badge variant="secondary">Remote Access</Badge>
          </p>
        </div>
        <Button variant="outline" size="lg" className="mt-4 border dark:hover:bg-background dark:hover:border-white w-full hover:bg-background hover:border-gray-300">
          Get In Touch <ChevronRight />
        </Button> 
        </div>
      </div>
      <div class="col-span-7 border border-[#dcdde0] rounded-lg bg-white text-gray-900 my-3 dark:bg-background dark:border-neutral-800 dark:text-primary">
        <div class="w-full border-b border-[#dcdde0] dark:border-neutral-800 px-8 py-2 ">
          <h2 class="text-xl font-bold mb-0 dark:text-themepurple">
            A Bit About Me
          </h2>
        </div>
        <div class="w-full p-8">
        <p class="text-sm mb-4">
          I've been working in the technology space since I left university in 2005. I started off in sales before moving into technical sales and hands-on technical roles. I spent the majority my time working with virtualisation and remote access technologies like VMware, Citrix and of course Microsoft. I started a specialist IT solutions company in 2010 which spawned an ecommerce sibling a couple of years later.
        </p>
        <p class="text-sm mb-4">
          I sold both businesses in 2014 and worked in the 'channel' for several years. I worked with a handful of specialist IT vendors, taking responsibility for the UK operations.
        </p>
        <p class="text-sm mb-4">
          I started using Linux around this time, initially begrudgingly and not really knowing what I was doing. However, fast forward a couple of years and I was hacking my Surface Pro to get it running a Linux desktop.
        </p>
        <p class="text-sm mb-4">
          I've spent the last seven or eight years as a consultant, systems engineer and software developer. The lines between the roles have progressively blurred over the last few years and I've taken on the mantle of CTO/Technical Director for several startups and fast-growing businesses in the UK, US and Europe.
        </p>
        <p class="text-sm">
          Having spent much of my career concentrating on business growth and the nurturing of ideas, I'm acutely aware of how much of an overhead -- and enabler, technology can be. If you want slick, performant IT systems to drive your business without having to sell your soul (and anything else of value) to join one of the big tech companies' closed eco-systems, get in touch! I'd love to help!
        </p>

      </div>
    </div>
  </div>


    <div class="flex flex-col gap-6 border border-[#dcdde0] dark:border-neutral-800 rounded-lg bg-white text-gray-900 my-3 dark:bg-background dark:text-primary">
      <div class="w-full flex flex-col">
        <div class="flex border-b border-[#dcdde0] dark:border-neutral-800 px-8 py-2 flex-col">
          <h2 class="text-xl font-bold dark:text-themepurple">
            Interactive Vendor Grid
          </h2>
          <div class="col-span-12 text-sm">
            Hover over each icon for more about the vendors I work with.
          </div>
      </div>
        <div class="grid grid-cols-6 sm:grid-cols-8 md:grid-cols-10 lg:grid-cols-12 gap-2 p-8">

          {techs.map((tech: TechWithStringTags) => (
            <div>
              <TechCube
                title={tech.data.vendor_name || tech.data.title}
                vendoricon={tech.data.vendoricon}
                description={tech.data.description}
                tags={tech.data.tags}
                slug={tech.data.slug}
                vendor_primary_color={tech.data.vendor_primary_color}
                vendor_secondary_color={tech.data.vendor_secondary_color}
                category={tech.data.category}
              />
            </div>
          ))}
        </div>
      </div>
      
    </div>
  </section>
</PageLayout>